@use 'variaveis';
.header {
  background: variaveis.$cor-primaria;
  color: white;
  padding: 1rem 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo {
    font-size: 1.8rem;
  }

  &__nav {
    &-menu {
      list-style: none;
      display: flex;
      gap: 1.5rem;
      flex-wrap: wrap;

      a {
        color: white;
        text-decoration: none;
        font-weight: bold;
      }
    }
  }
}